<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- INLCUSIÓN DIRECTA CON SCRIPT DE VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Directiva v-for</title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="moneda in monedas"> {{ moneda }}</li>
        </ul>
        <ul>
            <li v-for="(pais, index) in paises"> {{ index + '-' + pais }}</li>
        </ul>

    </div>
    
</body>
   <script>
        var vue = new Vue({
            el: '#app',
            data:{
                monedas: ["USD", "MXN", "COP"],
                paises: ["USA", "MX", "COL"]
            }
        
    });
   </script>

</html>